<footer class="page-footer inner">
  <div class="container animate-up">
    <span> <%= footer %> &nbsp; <a href="http://raionenascimento.com.br" target="_blank">raionenascimento</a></span>
  </div>
</footer>